@font-face { font-family: 'Poppins-Regular'; src: url("../Font/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../Font/Poppins-Regular.otf") format("opentype"), url("../Font/Poppins-Regular.woff") format("woff"), url("../Font/Poppins-Regular.ttf") format("truetype"), url("../Font/Poppins-Regular.svg#Poppins-Regular") format("svg"); font-weight: normal; font-style: normal; }
:focus:not(:focus-visible) { outline: none; }

img:focus { outline: none; }

/*--Variables--*/
html, body, h1, h2, h3, h4, h5, h6, div, span, p, a, ul, li, ol, li { font-family: "Poppins-Regular", sans-serif; margin: 0px; padding: 0px; color: #333; }

.boxshadow { -moz-box-shadow: 0 0 20px 0 #f2f2f2; -webkit-box-shadow: 0 0 20px 0 #f2f2f2; box-shadow: 0 0 20px 0 #f2f2f2; }

.boxshadow:hover, .boxshadow1:hover { -moz-box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 5px 17px 0px rgba(0, 0, 0, 0.15); }

.padding-0 { padding: 0px; }

.margin-0 { margin: 0px; }

.btn-custom { line-height: 45px; font-weight: 500; padding: 12px 30px 12px; font-size: 16px; outline: none !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; background: #fb770c; border: 1px solid #c4c4c4; color: #fff; -webkit-transition: background-color .4s ease, border .4s ease, color .4s ease; -moz-transition: background-color .4s ease, border .4s ease, color .2s ease; -ms-transition: background-color .4s ease, border .4s ease, color .2s ease; -o-transition: background-color .4s ease, border .4s ease, color .2s ease; transition: background-color .4s ease, border .4s ease, color .4s ease; }

.btn-custom1 { line-height: 45px; font-weight: 500; padding: 12px 30px 12px; font-size: 16px; outline: none !important; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; background: #fb770c; border: 1px solid #c4c4c4; color: #fff; -webkit-transition: background-color .4s ease, border .4s ease, color .4s ease; -moz-transition: background-color .4s ease, border .4s ease, color .2s ease; -ms-transition: background-color .4s ease, border .4s ease, color .2s ease; -o-transition: background-color .4s ease, border .4s ease, color .2s ease; transition: background-color .4s ease, border .4s ease, color .4s ease; }

.btn-custom1:hover, .btn-custom:hover { text-decoration: none; background: #000; color: #fff; }

.back-to-top { background: #fb770c; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; border-radius: 100%; color: #fff; padding: 10px 11px; position: fixed; right: 30px; bottom: 25px; z-index: 9999; cursor: pointer; }
.back-to-top i { font-size: 20px; color: #fff; }

.navigation-bar { position: fixed; top: 0; left: 0; width: 100%; z-index: 99; padding: 20px 0; background: rgba(255, 255, 255, 0.5); -webkit-transition: all 0.4s ease-out 0s; -moz-transition: all 0.4s ease-out 0s; -ms-transition: all 0.4s ease-out 0s; -o-transition: all 0.4s ease-out 0s; transition: all 0.4s ease-out 0s; }

.navigation-bar.sticky { position: fixed; background-image: linear-gradient(to right, #fff, white); -webkit-box-shadow: 0px 5px 21px 0px rgba(44, 44, 44, 0.2); -moz-box-shadow: 0px 5px 21px 0px rgba(44, 44, 44, 0.2); box-shadow: 0px 5px 21px 0px rgba(44, 44, 44, 0.2); z-index: 99; padding: 5px 0; }
.navigation-bar.sticky li a { color: #333 !important; }

.navbar { padding: 0; min-height: auto; margin-bottom: auto; border: 0px; }
.navbar .navbar-brand { height: 60px; padding: 0px; margin: 0px !important; line-height: 60px; }
.navbar .navbar-brand img { height: 50px; display: initial; }
.navbar .navbar-toggler { display: none; }
.navbar .navbar-toggler .toggler-icon { width: 30px; height: 2px; display: block; margin: 5px 0; }
.navbar .navbar-nav { float: right; height: 60px; line-height: 60px; }
.navbar .navbar-nav .nav-item { margin: 0px 15px; list-style-type: none; }
.navbar .navbar-nav .nav-item a { font-size: 16px; text-decoration: none; color: #fff; -webkit-transition: all 0.4s ease-out 0s; -moz-transition: all 0.4s ease-out 0s; -ms-transition: all 0.4s ease-out 0s; -o-transition: all 0.4s ease-out 0s; transition: all 0.4s ease-out 0s; }
.navbar .navbar-nav .nav-item .FreeTrial-btn { padding: 8px 25px; display: inline-block; text-transform: uppercase; letter-spacing: 1px; outline: none; position: relative; border: 1px solid #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; }
.navbar .navbar-nav .active a { color: #fb770c !important; }
.navbar .navbar-collapse { padding: 0px; }

/*--Header---*/
#home h1 { color: #fff; padding-bottom: 30px; }
#home h3 { color: #f9f9f9; font-size: 14px; line-height: inherit; letter-spacing: 2px; text-transform: uppercase; margin: 0; }

.slider { height: 600px; width: 100%; background-position: 0% 0px; }
.slider .owl-theme .owl-dots { position: absolute; top: 50%; right: 2em; justify-content: center; }
.slider .owl-theme .owl-dots .owl-dot { display: block; }
.slider .owl-theme .owl-dots .owl-dot span { width: 12px; height: 12px; margin: 7px 10px; border: 2px solid #d9d9d9; background: transparent; display: block; -webkit-backface-visibility: visible; transition: opacity 200ms ease; border-radius: 30px; }
.slider .owl-theme .owl-dots .owl-dot:hover span, .slider .owl-theme .owl-dots .owl-dot.active span { background-color: #ffffff; border-color: transparent; }
.slider .owl-theme .item { background-position: inherit; background-repeat: no-repeat; background-attachment: local; background-size: cover; height: 600px; }
.slider .owl-theme .item .caption { display: flex; justify-content: center; flex-direction: column; text-align: left; background-color: rgba(20, 20, 20, 0.2); height: 100%; color: #fff; cursor: e-resize; padding: 4em 0 0 2em; }
.slider .owl-theme .item.item-first { background-image: url(../Images/slider1.jpg); }
.slider .owl-theme .item.item-second { background-image: url(../Images/slider2.jpg); }
.slider .owl-theme .item.item-third { background-image: url(../Images/slider3.jpg); }

#about, #services, #gallery, #blog, #contact { background: #fff; padding: 100px 0; }
#about .container h1, #services .container h1, #gallery .container h1, #blog .container h1, #contact .container h1 { color: #fb770c; font-size: 30px; padding-bottom: 20px; }
#about .container p, #services .container p, #gallery .container p, #blog .container p, #contact .container p { color: #333; font-size: 18px; line-height: 25px; padding-bottom: 20px; }
#about .container p span, #services .container p span, #gallery .container p span, #blog .container p span, #contact .container p span { color: #72AF8D; }

#services { background-color: #f9f9f9; padding: 100px 0px; }
#services .container h3 { color: #72AF8D; padding-bottom: 20px; }
#services .container .item { margin-bottom: 35px; height: 195px; }
#services .container .Service-drp { width: 40%; }
#services .container .Service-drp .form-control { border: 1px solid #72AF8D; height: 45px; }

#gallery { background: #fff; }
#gallery .container h1 { padding-bottom: 30px; }
#gallery .container h3 { color: #72AF8D; }
#gallery .container h5 { color: #fb770c; font-size: 18px; padding-top: 15px; }
#gallery .container .item { margin-bottom: 35px; height: 230px; }
#gallery .container .item img { min-height: 194px; }

#blog { background-color: #f9f9f9; padding: 100px 0; }
#blog .container h5 { color: #72AF8D; padding-bottom: 15px; font-weight: 700; font-size: 16px; }
#blog .container h2 { color: #242424; font-weight: bold; font-size: 36px; margin-bottom: 15px; }
#blog .container p { max-width: 650px; font-size: 16px; line-height: 26px; color: rgba(36, 36, 36, 0.8); margin: 0 auto; padding-bottom: 60px; }
#blog .container .sec-box { background: #fff; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; border-radius: 6px; margin-bottom: 30px; height: 465px; }
#blog .container .sec-box .secbox-header img { -webkit-border-top-left-radius: 6px; -moz-border-top-left-radius: 6px; -ms-border-top-left-radius: 6px; border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-top-right-radius: 6px; -ms-border-top-right-radius: 6px; border-top-right-radius: 6px; height: 200px; width: 100%; }
#blog .container .sec-box .secbox-content { padding: 20px 20px 0 20px; }
#blog .container .sec-box .secbox-content h4 { color: #fb770c; font-size: 18px; line-height: 28px !important; font-weight: 600; }
#blog .container .sec-box .secbox-content p { font-size: 16px; color: #333; line-height: 1.625; padding-bottom: 20px; }
#blog .container .sec-box .secbox-footer { border-top: 1px solid #e5e5e5; margin: 0 20px; padding: 20px 0; }
#blog .container .sec-box .secbox-footer .img-responsive { -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; border-radius: 100%; margin-right: 15px; }
#blog .container .sec-box .secbox-footer span { font-size: 16px; line-height: 30px; }
#blog .container .sec-box .secbox-footer .course-price { background: #72AF8D; padding: 0 5px; margin-left: 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; color: #fff; }
#blog .container .Viewall-btn { padding: 0px 25px; display: inline-block; text-decoration: none; letter-spacing: 1px; outline: none; position: relative; border: 1px solid #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; color: #fff; line-height: 45px; background: #fb770c; }

#contact { background-color: #fff; padding: 100px 0; }
#contact .container { height: 500px; }
#contact .container h3 { color: #fb770c; padding-bottom: 20px; }
#contact .container p { line-height: 30px; }

#footer { background-image: linear-gradient(to right, #121a2f, rgba(20, 41, 65, 0.81)); font-size: 14px; height: 150px; }

.modal .modal-dialog { width: 90%; }
.modal .modal-dialog .modal-content .modal-header { background: #33A768; }
.modal .modal-dialog .modal-content .modal-header h2 { font-size: 25px; color: #fff; }
.modal .modal-dialog .modal-content .modal-header .close i, .modal .modal-dialog .modal-content .modal-header .close { font-size: 20px; color: #fff; opacity: 1; }
.modal .modal-dialog .modal-content .modal-body h3 { color: #72AF8D; font-size: 22px; }
.modal .modal-dialog .modal-content .modal-body ul { margin: 20px 0 0 20px; }
.modal .modal-dialog .modal-content .modal-body ul li { line-height: 24px; font-size: 16px; padding-bottom: 10px; }
.modal .modal-dialog .modal-content .modal-body ul li span { color: #72AF8D; }
.modal .modal-dialog .modal-content .modal-body h5 { color: #72AF8D; font-size: 18px; padding-top: 15px; }
.modal .modal-dialog .modal-content .modal-body .item { margin-bottom: 35px; height: 216px; }

@media only screen and (max-width: 1024px) { #home .getstarted-btn { padding: 0px 15px; }
  #home .video-btn { margin-left: 20px; } }
@media only screen and (max-width: 768px) { .navbar .container .navbar-collapse { margin-top: 50px; position: absolute; width: 100%; }
  .navbar .container .navbar-collapse ul.navbar-nav { background: #fff; width: 100%; margin: 0px; height: auto; }
  .navbar .container .navbar-collapse ul.navbar-nav .nav-item { margin: 0px; width: 100%; }
  .navbar .container .navbar-collapse ul.navbar-nav .nav-item a { color: #242424; padding: 12px 15px; margin: 0px; border-top: 0px; text-align: center; border-bottom: 1px solid #c2c2c2 !important; display: block; }
  #home .navigation-bar .navbar-brand { height: 60px; padding: 0px; margin: 0px !important; line-height: 60px; }
  #home .navigation-bar .navbar-brand img { height: 34px; }
  #home .navigation-bar .navbar-toggler { display: block; font-size: 35px; color: #fff; float: right; height: 60px; line-height: 60px; }
  #home .header-text { padding-top: 50px; }
  #home .header-text h2 { font-size: 25px; line-height: 40px; }
  #home .header-text h1 { font-size: 30px; line-height: 40px; margin-bottom: 15px; }
  #features { padding: 60px 0 30px 0; }
  #features .container h2 { font-size: 28px; }
  #features .container .sec-box { margin-bottom: 30px; }
  #courses { padding: 60px 0; }
  #courses .container .sec-box .secbox-header img { -webkit-border-top-left-radius: 6px; -moz-border-top-left-radius: 6px; -ms-border-top-left-radius: 6px; border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-top-right-radius: 6px; -ms-border-top-right-radius: 6px; border-top-right-radius: 6px; }
  #project .container-fluid .project-left { display: none; }
  #project .container-fluid .project-right { padding: 35px 20px; }
  #project .container-fluid .project-right h3 { font-size: 30px; line-height: 40px; }
  #team { padding: 60px 0; }
  #team .container h2 { font-size: 30px; line-height: 40px; }
  #team .container .sec-box { width: 100%; }
  #instructor .container img { display: none; }
  #pricing { padding: 60px 0 30px 0; }
  #pricing .container h2 { font-size: 30px; line-height: 40px; }
  #pricing .container .sec-box { margin-bottom: 30px; }
  #testimonials { padding: 60px 0; }
  #testimonials .container h2 { font-size: 30px; line-height: 40px; }
  #testimonials .container .Testimonial-text { width: 90%; margin-bottom: 0px; }
  #blog { padding: 60px 0 30px 0; }
  #blog .container h2 { font-size: 30px; line-height: 40px; }
  #blog .container .sec-box { margin: 30px 0 30px 0; }
  #blog .container .sec-box .blog-content h5 a { color: #242424; }
  #counter { padding: 60px 0 30px 0; }
  #counter .container h4 { margin: 15px 0 0 0; }
  #counter .container .col-xs-12 { margin-bottom: 30px; }
  #events { padding: 60px 0 30px 0; }
  #newsletter .container .footer-subscribe { padding: 45px 25px; }
  #newsletter .container .footer-subscribe h5 { padding-bottom: 20px; } }
@media only screen and (max-width: 668px) { #home { height: 668px; }
  #team .container .responsive-carousel .slick-arrow { display: none !important; }
  #testimonials .container .Testimonial-text .slick-arrow { display: none !important; }
  #footer h4 { padding-top: 15px; } }

/*# sourceMappingURL=custom.css.map */
